body{
	margin: 0;
	font-size: 20px;
}

.headerSpace{
	height: 70px;
}

/*header調整*/
.header{
	display: flex;
	height: 70px;
	align-items: center;
	position: fixed;
	width: 100%;

	z-index: 1;
	background-color: rgba(256, 256, 256, 0.7);
	backdrop-filter: saturate(180%) blur(20px);
	border: 1px solid #e3e3e3;
	filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.1))
}

.webName{
	display: flex;
	justify-content: flex-start;
	flex: auto;
	margin-left: 20px;
	align-items: center;
	font-weight: 700;
	text-align: center;
}

.desktopMenu{
	display: block;
}

.phoneMenu{
	display: none;
}

.menuImg{
	margin: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.hamburger{
	width: 30px;
	margin-right: 20px;
}

.itemsGroup{
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	align-items: center;
}


.item{
	padding: 0px 10px;
	border-radius: 50px;
}

/*welcome 區域調整*/
.welcomeBar{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
	background-color: #333;
/*	padding-top: 90px;*/
}

.welcomeText{
	color: whitesmoke;
	font-size: 40px;
	text-align: center;
}

/*最下方欄位置中, 1200px*/
.row{
	width: 100p%;
	display: flex;
	justify-content: center;
	padding-top: 50px ;
}

.infoGroup{
	width: 1200px;
}

/*promotion欄位*/
.promotionGroup{
	display: flex;
	align-items: center;
	justify-content: center;
}

.promotion{
	flex: none;
	width: 576px;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #ffffff;
	margin: 10px;

	border-radius: 20px;
	overflow: hidden;
	filter: drop-shadow(12px 8px 8px rgba(0, 0, 0, 0.1))
}

.promoImg{
	flex: none;
	height: 100%;
	width: 80px;
	background-image: cover;
	display:block; /*消除多餘的空白*/
}

.promoText{
	flex: auto;
	margin-left: 20px;
}

/*article 欄位*/
.articleGroup{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.article{
	flex: none;
	width: 278px;
	height: 200px;
	margin: 10px;
	background-color: #ffffff;

	border-radius: 20px;
	overflow: hidden;
	filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.1))
}

.imgBox{
	width: 100%; /* 設定圖片外框架*/
	height: 70%;
	overflow: hidden; /*超出框架則不顯示*/
}

.articleImg{
	max-width: 100%;
	background-image: cover;
	display:block; /*消除多餘的空白*/
}

.title{
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;

}


/*平板尺寸 RWD*/
@media (max-width: 1200px){
	.infoGroup{
		width: 90%;
	}

	.promotion{
		width: 45%;
	}

	.article{
		width: 45%;
	}

}

/*手機尺寸 RWD*/
@media (max-width: 600px){
	.headerSpace{
		height: 60px;
	}

	.header{
		height: 60px;
	}

	.desktopMenu{
		display: none;
	}

	.phoneMenu{
		display: block;
	}

	.infoGroup{
		width: 90%;
	}

	.promotionGroup{
		flex-wrap: wrap;
	}

	.promotion{
		width: 90%;
	}

	.article{
		width: 90%;
	}
}



